/*GERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #dfccae;
    border: none;
}

input,label {
    display: block;
    width: 100%;
}

input:focus,label:focus{
    outline: none;
}

body {
    background-color: #dfccae;
    padding-top: 5vh;
}

#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem; 
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    background-color: black;
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #dfccae;
    transition: .6s;
}

input[type="submit"] {
    background-color: #dfccae;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: black;
    color: #dfccae;
    transition: .6s;
}

input[type="submit"]:not(:hover) {
    background-color: #dfccae;
    color: black;
    transition: .6s;
}

.cta-button {
    display: inline-block;
    background-color: #dfccae;;
    color: black;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    font-family: Helvetica;
  }
  
  .cta-button:hover {
    background-color: black;
    color: #dfccae;;
    transition: .5s;
  }

  .cta-button:not(:hover) {
    background-color: #dfccae;;
    color: black;
    transition: .5s;
  }
